%h1 Games

%table.table
  %thead
    %th Players
    %th Score
  - @games.each do |g|
    %tr
      %td= "#{g.team_player1.player.username} vs #{g.team_player2.player.username}"
      %td= "#{g.team_player1.score} - #{g.team_player2.score}"

= link_to "New game", new_game_path

